.switcher-label, .switcher-icon {
  padding: .2em .4em;
}

.switcher-box {
  border-top: 2px solid #343a3a;
}
.switcher-box:last-child {
  border-radius: 0 0 9px 9px;
}

.switcher-box-layout {
  font-weight: bold;
  color: #cccccc;
  background-color: rgba(23, 25, 26, 0.95);
  border: 2px solid #343a3a;
  border-radius: 9px;
}

.switcher-highlight {
  color: #ffffff;
  background-color: #215d9c;
}

.switcher-entry {
  margin: .4em;
}

.switcher-shortcut {
  text-align: center;
  padding-left: .4em;
  padding-right: .4em;
}
