.switcher-label, .switcher-icon {
  padding: .4em;
}

.switcher-box {
  border-top: 2px solid #343a3a;
}

.switcher-box:hover {
  background-color: rgba(54, 56, 58, 1);
}

.switcher-box:last-child {
  border-radius: 0 0 9px 9px;
}

.switcher-box-layout {
  font-weight: bold;
  color: #aaaaaa;
  background-color: rgba(23, 25, 26, 0.95);
  border: 2px solid #343a3a;
  border-radius: 9px;
  margin-top: 100px;
}

.switcher-highlight {
  color: -st-accent-fg-color;
  background-color: -st-accent-color;
}

.switcher-highlight:hover {
  color: #ffffff;
}

.switcher-entry {
  margin: .4em;
}

.switcher-shortcut {
  text-align: center;
  padding-left: .4em;
  padding-right: .4em;
}
