.switcher-label, .switcher-icon {
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(10,10,10,0.7);
  padding: .5em;
  border-style: solid;
  border-color: rgba(60,60,60,0.7);
  border-width: 1px;
}

.switcher-box:last-child .switcher-icon {
  border-radius: 0 0 0 9px;
}
.switcher-box:last-child .switcher-label {
  border-radius: 0 0 9px 0;
}

.switcher-box-layout {
  padding-top: 100px;
}

.switcher-highlight {
  background-color: rgba(100, 100, 200, 0.9);
}

.switcher-entry {
  background-color: rgba(41, 41, 41, 1);
}